// main: style.scss

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #333;
    margin: 0;
    padding: 20px;

    nav {
        padding: 10px 0;
        border-radius: 10px;
        margin-bottom: 20px;
    
        ul {
            display: flex;
            justify-content: center;
            gap: 20px;
    
            li {
                list-style: none;
                font-size: 20px;
                cursor: pointer;
                display: block ruby;

                   
                &::after{
                    content: "-";
                    display: block;
                    width: 0;
                    height: 2px;
                    margin-left: 10px;
                    color: #fff;
                }

                &:last-child::after{
                    content: "";
                }

                a {
                    color: $primary !important;

                    &:hover {
                        color: $text !important;
                    }
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: $heading;

    i {
        color: $text;
    }
}

.hn-stretched-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

h1 {
    color: $text;
    text-align: center;
    margin: 60px 0;
    font-size: 60px;

    span {
        color: $primary;
        /* effetto blinking */
        animation: blink 1s linear infinite;
    }
}

@keyframes blink {
    0% {
    opacity: 0;
    }
    50% {
    opacity: .5;
    }
    100% {
    opacity: 1;
    }
}

h2 {
    color: $primary;
    text-align: center;
    margin: 20px 0;
}

hr {
    border: 1px solid $text;
    margin: 20px 0;
}

.hn-container-fluid {
    padding: 0 15px;
    background-color: #565555;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    
    .hn-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .hn-card {
            width: 200px;
            height: 300px;
            background-color: transparent;
            border: none;
            border-radius: 10px;
            perspective: 1000px;
            
            .hn-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                border-radius: 10px;
        
                .hn-card-front,
                .hn-card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                    box-sizing: border-box;
                }
        
                .hn-card-front {
                    background-color: #eaeaea;
        
                    .hn-img {
                        width: 100%;
                        height: 150px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    
                    .hn-title {
                        text-align: center;
                        margin-top: 10px;
                    }
                }
        
                .hn-card-back {
                    background-color: #333;
                    color: $text;
                    transform: rotateY(180deg);
                    justify-content: center;
                    text-align: center;
                }
            }
        
            &:hover .hn-title a {
                color: $primary;
                transition: color 0.2s;
            }
        
            &:hover .hn-card-inner {
                transform: rotateY(180deg);
            }
        }
        
        .hn-list-group {
            column-count: 5;
            column-gap: 20px;

            @include media-breakpoint-down(xl) {
                columns: 4;
            }
            @include media-breakpoint-down(lg) {
                columns: 3;
            }
            @include media-breakpoint-down(md) {
                columns: 2;
            }
            @include media-breakpoint-down(sm) {
                columns: unset;
            }
            
            .hn-list-group-item:hover {
                color: $primary;
                transition: color 0.2s;
            }
        }
    }
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;

    p {
        font-size: 14px;
        color: $text;
        text-align: center;
        position: relative;

        span {
            color: $primary;
        }
    }
}
